* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #c2c8c9;
}

.header {
    font-size: 1.7rem;
    font-weight: 900;
    color: #2b2b2b;
    padding: 1vh;
    position: absolute;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#regrid {
    background-color: #2b2b2b;
    color: #9ACBD0;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    font-size: 6rem;
    font-weight:600;
}

.etch {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 85vh;
    display: none;
    background-color: black;
}

.grid {
    background-color: #9ACBD0;
}

/* .grid:hover {
    background-color: #638083;
} */



/* footer */
.footer {
    display: flex;
    justify-content: center;
}